<html>
  <head>
    <title>New</title>
  </head>
  <body>
    <form action="/new" method="post">
      <label for="user">User: </label>
      <input type="text" name="user" id="user">
      <label for="text">Text: </label>
      <input type="text" name="text" id="text">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>